<html>
<head>
<title></title>
    <style>
        body{
            background: #ccc;
            margin: 0px;
            padding: 0px;
        }
        .header
        {
            height: 600px;
            width: 500px;
            float: left;
            background:#2c3e50;
            margin: 10px 200px;
            border-radius: 3px 3px 3px;
        }
    </style>
</head>

    
<body>
    <div class="header">
        <input type="text" name="text" class="text">
    </div>
</body>





</html>