{% load staticfiles %}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{
            margin: 0px;
            padding: 0px;
            background: #bdc3c7;
        }
        .middle
        {
            height: 400px;
            width: 400px;
            margin: 50px 400px;
            border-radius: 4px 4px;

        }
    
    </style>
</head>
<body>
       <div class="middle">
    
    <form method="POST" action="">
        {% csrf_token %}
        <select class="custom-select custom-select-lg mb-3" name="city_name">
            {{form.city_name|add_class:"form-control" }} 
  <option selected>Cities</option>
  <option value="1">Dhaka</option>
  <option value="2">Chattogram</option>
  <option value="3">Sylhet</option>
  <option value="4">Khulna</option>
  <option value="5">Barishal</option>
  <option value="6">Rajshahi</option>
  <option value="7">Rangpur</option>
 <option value="8">Mymensingh</option>
</select>
 <select class="custom-select custom-select-lg mb-3" name="flat_flor">
    {{form.flat_flor|add_class:"form-control" }} 
  <option selected>Flat sale</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

        <div class="form-group">
    <label for="exampleFormControlFile1">Flor image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
      
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
    </div>
    {{form}}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>