{% load staticfiles %}
<html>
<head>
    
    <title></title>
  <link rel="stylesheet" href="{%static 'blog/log.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
   {% if message %}
   <h4>{{message}}</h4> 
   {% endif %}
<form class="box" action="" method="POST">
  {% csrf_token %} 
    <h1>Log in</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
</form>
    
    
    
    
</body>



</html>